#body {
    background-image: url('cool-background.png');
    background-size: cover;
}


.navbar-nav {
    margin-left: auto;
    right: 0%;
}

.form {
    padding: 20px;
    background-color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}

.header {
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    padding: 40px;
    background-color: white;
    width: 75%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#aboutMe {
    /* content: ' ';
    display: table;
    width: 100%; */
    padding-bottom: 5%;
}

.img-thumbnail {
    float: left;
}

#firstParagraph {
    float: inline-start;
    width: 100%;
    padding-left: 20%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgreen;
    color: white;
    text-align: center;   
}
