#body {
    background-image: url('cool-background.png');
    background-size: cover;
}


.navbar-nav {
    margin-left: auto;
    right: 0%;
}

.container {
    background-color: white;   
}

.header {
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
